<div class="conteinerCenter">
  <div class="login">
    <h1 style="color: wheat">Criando sua conta</h1>
    <form (ngSubmit)="handleLogin()">
      <div>
        <input
          placeholder="Digite seu email"
          type="text"
          name="email"
          class="input"
          [(ngModel)]="userData.email"
          (change)="handleChange($event)"
        />
        <input
          placeholder="Sua Senha"
          type="password"
          name="password"
          class="input"
          [(ngModel)]="userData.password"
          (change)="handleChange($event)"
        />
      </div>
      <button
        type="submit"
        [disabled]="loading"
        class="button"
        [ngClass]="{ 'disabled-button': loading }"
      >
        {{ loading ? "Aguarde..." : "Acessar" }}
      </button>
    </form>
    <a href="signUp">
      <p class="text">Não possui uma conta? Cadastre-se</p>
    </a>
  </div>
</div>
